.card {
    width: 15rem;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.image {
    min-height: 7rem;
}

.title{
    font-weight: bold;
}

.tag{
    font-weight: bold;
    background-color: lightgrey;
}

.button {
    background-color: #28c9b8;
    border: none;
    max-height: 2rem;
    max-width: 2rem;
    text-align: center;
    text-justify: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 1.5rem;
    padding-bottom: 6px;
}

@media only screen and (max-width: 600px){
    .card{
        flex-direction: row;
        width: 22rem;
    }
    .image{
        width: 10rem;
        min-height: 100%;
    }
}
  